.jumbotron {
    background-color: bisque;
}

form {
    width: 400px;
}


/* .btn {
    margin-bottom: 70px;
} */

.bear {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* in order to center img, both left and right margins have to be set to auto, since img is an inline element, it needs to be changed to a block level element. */

.bearlock {
    width: 400px;
    height: 400px;
}

footer {
    background-color: bisque;
    width: auto;
    height: 200px;
}

.yelp {
    width: 100px;
    height: 100px;
}

a:hover {
    text-decoration: none;
    color: black;
    /* text decoration is changed when hovering */
}

.phone {
    display: block;
    width: 100px;
    height: 100px;
    position: fixed;
}